body {
    font-family: Helvetica, Arial, sans-serif;
}
h1,h2,h3{
    margin: 0.5rem 0;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.4rem;
    font-weight: bold;

}
h3{
    font-size: 1rem;
}
a{
    text-decoration:none;
}

.row{
    display: flex;
    justify-content: space-between;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.block{
    background-color: #f5f7f7;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.row.center{
    align-items: center;
}
.bill{
    margin: 0 auto;
    font-size: 1.2rem;
    align-content: center;

}

.bill label{
    text-align: left;
    display: block;
}
.bill button{
   //background: #f9e791;
    background: #1fa57d;
    color: #fff;
    border: 0;
}
.link Link{
    color: #1fa57d;
}

input[type=checkbox] {
    margin-right: 18px;
    transform: scale(1.5);
    width: 15px;
    height: 15px;
}


input[type=checkbox]:checked::before {
    content: "\2713";
    display: block;
    font-size: 12px;
    text-align: center;
    color: white;
    width: 15px;
    height: 15px;
    background-color: #1fa57d;
    border-radius: 2px;
}

.primaryColor Button{
    background: #1fa57d;
    --primary-color: #1fa57d;
    --side-color: #dd622a;
    --closePrimary-color: #73c5a8;
}
.primaryColor p {
    color: #1fa57d;

}

.numeric {
    text-align: right;
}







